/* -------------------------------- *//*-----------------------------------------------*/
/* RESPONSIVE *//*-----------------------------------------------*/


/* LAPTOP *//*-----------------------------------------------*/
@media only screen and (min-width: 1024px) {
    


}







/* TABLET *//*-----------------------------------------------*/
@media only screen and (max-width: 768px) {
    
    /* BOTTOM BAR */

        #center-br {
            height: 100%;
            width: 14rem;
        }

        .slider2 {
            -webkit-appearance: none;
            width: 6rem;
            
        }

        .display-none-small-view {
            display: none;
        }

    /* BOTTOM BAR */


}




/* MOBILE  GRANDE*//*-----------------------------------------------*/
@media only screen and (max-width: 425px) {


    /* SIDE NAVBAR */

        #side-navbar .container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem;
        }

    
        #snav-top div:first-child #logo-small {
            display: block;
            width: 2.5rem;
            margin-right: 0px;
        }

        #snav-top div:first-child img,
        #side-navbar ul li a span,
        #playlist-snb,
        hr,
        #snav-bottom span {display: none;}


        #snav-top div:first-child #logo-small,
        #l1-snb img,
        #snav-bottom div:first-child img,
        #snav-bottom div:last-child img {
            margin-left: 0;
            margin-right: 0;
        }

        #side-navbar {
            width: 60px;
        }
        
        #core {
            width: calc(100% - 60px);
        }

    /* SIDE NAVBAR */


    .none-xxsmall-view {
        display: none !important;
    }

    #center-br {
        height: 100%;
        width: 4.5;
        margin: auto;
    }

    .slider2 {
        -webkit-appearance: none;
        max-width: 12rem;
        width: auto;
        
    }

    #center-br div:last-child > div {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

}


/* MOBILE  MEDIO*//*-----------------------------------------------*/
@media only screen and (max-width: 375px) {




}

/* MOBILE  PICCOLO*//*-----------------------------------------------*/
@media only screen and (max-width: 320px) {



}



/* ALTEZZA MINIMA *//*-----------------------------------------------*/
@media only screen and (max-height: 800px) {

    /* #l2-snb {
        min-height: 340px;
        overflow: auto;
    } */



}