/* -------------------------------- */
/* UTILITY */

.wid-80 {margin: auto; width: 80%;}
.wid-60 {margin: auto; width: 60%;}
.wid-50 {margin: auto; width: 50%;}


.flex {display: flex;}
.flex-between {display: flex; justify-content: space-between;}
.flex-center {display: flex; justify-content: center; align-items: center;}
.flex-align {display: flex; align-items: center;}
.flex-bas-2 { flex-basis: 50;}
.wrap {flex-wrap: wrap;}

.mrg-lft-20 { margin-left: 20px;}
.mrg-rgt-20 { margin-right: 20px;}
.mrg-lft-10 {margin-left: 10px;}
.mrg-rgt-10 {margin-right: 10px;}
.mrg-10 { margin-bottom: 10px;}
.mrg-bttm-40 {margin-bottom: 40px;}
.mrg-bttm-20 {margin-bottom: 20px;}
.mrg-top-40 {margin-top: 40px;}


body {font-family: 'Rubik', sans-serif; font-weight: bold;}

/* prop lista reset dot */
ul li {
	list-style-type: none;
    display: inline-block;
    /* margin: 0.5rem; */
    margin-left: 0rem;
    margin-bottom: 1rem;
}


/* prop ref link */
a {
    outline: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: bold;
}
a:hover {
    color: rgb(0, 0, 0);
}

.img {
    /* width: auto;
    height : auto; */
    /* max-height: 100%; */
    width: 100%;
    display: block;
    /* object-fit: contain; */
}

/* BUTTON STYLE *//*-----------------------------------------------*/
.button1 {
    padding: 8px 18px;
    background-color: #0160ff;
    color: white;
    transition: background-color 0.5s;
}

.button-white {
    background-color: white;
    color: #0184fc;
    padding: 5px 10px;
    border-radius: 20px;
}

.btn {
    padding: 8px 12px;
    border-radius: 15px;
}

.btn-white {
    background-color: white;
    color: #0184fc;
}

.btn-blue {
    background-color: #0184fc;
    color: white;
    margin: 1.25rem 0;
}


/* Title style *//*-----------------------------------------------*/

/* scrollbar style */

/* width */
::-webkit-scrollbar {
    width: 0.3rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f100; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
     border-radius: 50px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }





/* -------------------------------- *//*-----------------------------------------------*/
/* BODY *//*-----------------------------------------------*/

/* DEFINIZIONE BLOCCHI LAYOUT DESKTOPVIEW */


    .webb-app-container {
        height: 100vh !important;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }


    /* #side-navbar {
        width: 15.625rem;
        height: calc(100% - 9%);
        overflow: hidden;
        background-color: black;
    }

    #bottom-bar {
        width: 100%;
        height: 9%;
        min-height: 4.875rem;

        position: static;
        background-color: rgb(28, 28, 28) ;

    }

    #core {
        width: calc(100% - 15.625rem);
        height: calc(100% - 9%);
        background-color: rgb(20,25,34);
        overflow:scroll;
    } */


    /* POSITION OVERFLOW FIXED TEST */

    main {
        height: calc(100% - 9%); 
        width: 100%;
        overflow:hidden !important;
        background-color: rgb(20,25,34);
    }

    #side-navbar {
        width: 15.625rem;
        /* overflow:scroll; */
        background-color: black;
    }

    #bottom-bar {
        width: 100%;
        height: 9%;
        min-height: 6rem;
        position: fixed;
        bottom: 0;
        background-color: rgb(28, 28, 28) ;
    }

    #core {
        width: calc(100% - 15.625rem);
        background-color: rgb(20,25,34);
        overflow:scroll;
    }

/* DEFINIZIONE BLOCCHI LAYOUT DESKTOPVIEW */

/* EXTRA UTILITIES */

i {
    margin-right: 0.5rem;
}

i:hover {color: white !important;}



/* SIDE NAVBAR *//*-----------------------------------------------*/

#side-navbar .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    height: 100%;
    color: rgb(255, 255, 255);
}


/* SIDE NAVBAR *//* TOP */


    /* PROPRIETÀ LISTA */

        #side-navbar ul {
            display: flex;
            flex-direction: column;
        }
        
        #side-navbar ul li a{
            display: flex;
            align-items: center;
            opacity: 0.3;
        }
        
        #side-navbar li a:hover{
            opacity: 1;
            color: white;
            border-left: solid green;
        }

    /* PROPRIETÀ LISTA */


    /* LOGO - LOGO SMALL */
        #snav-top div:first-child img {
            width: 9rem;
            margin-bottom: 1rem;
        }

        #logo-small {
            display: none;
        }
    /* LOGO - LOGO SMALL */



    /* LISTA 1 */

        #l1-snb img {
            width: 2.5rem;
            margin: 0 0.5rem 0 0;
        }
        
        #l1-snb {
            margin-bottom: 2rem;
        }
        
        
    /* LISTA 1 */
    
    /* LISTA 2 PLAYLIST */

        #snav-top h3 {
            color: white;
            margin-bottom: 1rem;
        }

        #l2-snb i {
            font-size: 3rem;
        }
        
        #l2-snb li:first-child {
            display: flex;
            align-items: center;
        }

    /* LISTA 2 PLAYLIST */

/* SIDE NAVBAR *//* TOP */



/* SIDE NAVBAR *//* BOTTOM */

    #snav-bottom hr {
        border-color: rgb(116,118,124);
        margin-top: 0.4rem;

    }

    #snav-bottom div:last-child {
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }

    #snav-bottom div:first-child {
        display: flex;
        align-items: center;
        font-size: 0.8rem;
        opacity: 0.3;
    }

    #snav-bottom div:first-child:hover {
        opacity: 1;
    }

    #snav-bottom div:first-child img {
        object-fit: cover;
        width: 20px;
        aspect-ratio: 1;
        margin-right: 0.5rem;
        margin-left: 0.2rem;
    }

    #snav-bottom div:last-child img {
        border-radius: 50%;
        object-fit:fill;
        width: 30px;
        aspect-ratio: 1;
        background-color: rgb(128,128,128);
        margin-right: 1rem;
    }

/* SIDE NAVBAR *//* BOTTOM */




/* BOTTOM BAR */


    /* size position layout */
        #bottom-bar .container {
            width: 100%;
            height: 100%;
            padding: 0.5rem;
            display: flex;
            justify-content: space-between;
        }


        #lft-br {
            width: auto;
            height: 100%;
        }
        #center-br {
            height: 100%;
        }
        #rgt-br {
            height: 100%;
        }

    /* size position layout */

    /* left bottom bar style */

        #lft-br {
            display: flex;
            align-items: center;
        }

        #lft-br div:first-child {
            display: flex;
            /* align-items: center; */
            max-width: auto;
            height: 100%;
        }

        /* TITOLO CANZONE BRANO NOME */
        #lft-br div:first-child div:last-child {
            align-self: center;
            margin: 0 1rem;
        }

        /* TITOLO CANZONE "SINISTER" */
        #lft-br div:first-child div:last-child p:first-child {
            color: rgb(255, 255, 255);
            font-weight: bolder;
        }

        /* BRANO NOME */
        #lft-br div:first-child div:last-child p:last-child {
            color: rgb(128,128,128);
            font-size: smaller;
        }

        /* ICONE CUORE E FOLDER */
        #lft-br div:last-child i{
            color: rgb(128,128,128);
        }

        /* COVER CANZONE */
        #bottom-bar  img {
            width: 100%;
            display: block;
        }


    /* left bottom bar style */


    /* right bottom bar style */


        #rgt-br {
            display: flex;
            align-items: center;
            height: 100%;
            width: auto;
        }

        #rgt-br i{
            color: rgb(128,128,128);
            margin: 0 0.5rem;
        }


        .slidecontainer {
            width: 100%; 
            padding-bottom: 0.3rem;
        }
        
        .slider {
            -webkit-appearance: none;
            width: 100%;
            height: 6px;
            border-radius: 5px;
            background: rgb(128,128,128);
            outline: none;
            opacity: 0.7;
            -webkit-transition: .2s;
            transition: opacity .2s;
        }
        
        .slider:hover {
            opacity: 1;
        }
        
        .slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 1rem;
            height: 1rem;
            border-radius: 50%;
            background:rgb(216, 216, 216);
            cursor: pointer;
        }


    /* right bottom bar style */

    /* center bottom bar style */

        #center-br {
            height: 100%;
            width: 28rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        #center-br i {
            color: rgb(128,128,128);
            font-size: 1.5rem;
            margin: 0 0.5rem;
            
        }


        #center-br div{
            display: flex;
            justify-content: space-between;
        }

        .slidecontainer2 {
            width: 100%; 
            padding-top: 0rem;
            display: flex;
            align-self: center;
        }
        
        .slider2 {
            -webkit-appearance: none;
            width: 20rem;
            height: 6px;
            border-radius: 5px;
            background: rgb(128,128,128);
            outline: none;
            opacity: 0.5;
            -webkit-transition: .2s;
            transition: opacity .2s;
            margin: auto;
            
        }
        
        .slider2:hover {
            opacity: 1;
        }
        
        .slider2::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
        }

        #center-br div:last-child {
            padding-top: 0.5rem;
            display: flex;
            justify-content: space-between;
            font-size: small;
            color: white;
        }

        #center-br div:last-child > div{
            margin: 0 0.5rem;
            padding: 0;
        }

        #center-br div:first-child {
            justify-content: center;
            margin: 0.5rem 0;
        }

    /* center bottom bar style */

/* BOTTOM BAR */


/* CORE MAIN */

    /* OVERLAY C2A */

        #core #child1 {
            width: calc(100% - 15.625rem);
            background-color: rgba(0, 0, 0, 0.3);
            position: fixed;
            display: flex;
            justify-content: end;
        }

        #core #child1 button {
            margin: 1rem;
            padding: 0.9rem 1.8rem;
            background: none;
            border: solid white 0.1rem;
            color: white;
            border-radius: 2rem;
            justify-self: right;
        }

    /* OVERLAY C2A */


    /* LIST PAGE */

        #core #child2 {
            margin-top: 5rem;
            text-align: center;
            
        }

        #core #child2 ul{
            display: flex;
            justify-content: center;
            width: calc(70%);
            margin: auto;
            flex-wrap: wrap;
            padding-top: 1rem;
        }


        #core #child2 ul li a{
            color: rgb(128,128,128);
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.1em;
            
            display: inline-block;
            padding: 10px 10px;
            position: relative;
        }

        #core #child2 ul li a::after{
            background: none repeat scroll 0 0 transparent;
            bottom: 0;
            content: "";
            display: block;
            height: 2px;
            left: 50%;
            position: absolute;
            background: #00fe48;
            transition: width 0.3s ease 0s, left 0.3s ease 0s;
            width: 0;
        }

        #core #child2 ul li a:focus:after { 
            width: 100%; 
            left: 0; 
        }

        #core #child2 ul li a:focus { 
            color: white; 
        }




    /* LIST PAGE */

    /* PLAYLIST */

        #core #child3 {
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            max-width: calc(100% - 0rem);
        }

        #core #child3 h2{
            color: white;
            font-weight: bolder;
            font-size: 2rem;

        }

        #core #child3 div{
            display: flex;
            flex-direction: row;
            margin-top: 1rem;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        #core #child3 div .card-playlist{
            /* display: flex; */
            flex-direction: column;
            /* max-width: 14rem; */
            background: none;
            /* position: inherit; */
            flex-basis: calc(94% / 6);
        }

        #core #child3 div .card-playlist div{
            align-self: center;
            margin: auto;
            text-align: center;
            font-size: 1.2rem;
            color: rgb(128,128,128);
        }

        #core #child3 div .card-playlist h3{
            color: white;
            text-align: center;
        }

        #core #child3 div .card-playlist img{
            width: 100%;
            display: block;
        }


    /* PLAYLIST */


    /* PLAYLIST 2 */

        #core #child4 {
            margin-top: 3rem;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            max-width: calc(100% - 0rem);
        }

        #core #child4 h2{
            color: white;
            font-weight: bolder;
            font-size: 2rem;
        }

        #core #child4 h3{
            font-weight: bolder;
            color: rgb(128,128,128);
            margin-top: 0.5rem;
        }

        #core #child4 div{
            display: flex;
            flex-direction: row;
            margin-top: 1rem;
            flex-wrap: wrap;
            gap: 1rem;
        }

        #core #child4 div .card-playlist{
            flex-direction: column;
            background: none;
            flex-basis: calc(94% / 6);
        }

        #core #child4 div .card-playlist div{
            align-self: center;
            margin: auto;
            text-align: center;
            font-size: 1.2rem;
            color: rgb(128,128,128);
        }

        #core #child4 div .card-playlist h3{
            color: white;
            text-align: center;
        }

        #core #child4 div .card-playlist img{
            width: 100%;
            display: block;
        }

    /* PLAYLIST 2 */


    /* PLAYLIST 3 */

        #core #child5 {
            margin-top: 3rem;
            margin-left: 1.5rem;
            margin-right: 1.5rem;
            max-width: calc(100% - 0rem);
        }

        #core #child5 h2{
            color: white;
            font-weight: bolder;
            font-size: 2rem;
        }

        #core #child5 h3{
            font-weight: bolder;
            color: rgb(128,128,128);
            margin-top: 0.5rem;
        }

        #core #child5 div{
            display: flex;
            flex-direction: row;
            margin-top: 1rem;
            flex-wrap: wrap;
            gap: 1rem;
        }

        #core #child5 div .card-playlist{
            flex-direction: column;
            background: none;
            flex-basis: calc(94% / 6);
        }

        #core #child5 div .card-playlist div{
            align-self: center;
            margin: auto;
            text-align: center;
            font-size: 1.2rem;
            color: rgb(128,128,128);
        }

        #core #child5 div .card-playlist h3{
            color: white;
            text-align: center;
        }

        #core #child5 div .card-playlist img{
            width: 100%;
            display: block;
            aspect-ratio: 1;
            border-radius: 50%;
        }

    /* PLAYLIST 3 */


/* CORE MAIN */






























































































